@import "@styles/variables/variables"; // Глобальные переменные
@import "@styles/theme/index"; // Настройка темы
@import "@styles/fonts"; // Шрифты
@import "@styles/globals"; // Глобальные настройки
@import "@styles/mixins/index"; // Миксины

body {
  box-sizing: border-box;
  font-family: SourceSansPro, sans-serif;
  font-weight: 400;
  font-size: 16px;

  @include themed() {
    transition: $transition-bg;
    background-color: t($background);
    color: t($text);
  }
}
