$primary: 'primary';
$primary-text: 'primary-text';
$primary-disabled: 'primary-disabled';

$secondary: 'secondary';
$secondary-text: 'secondary-text';
$secondary-disabled: 'secondary-disabled';

$background: 'background';
$background-secondary: 'background-secondary';
$text: 'text';
$text-secondary: 'text-secondary';
$border: 'border';

//UI
$disabled: 'disabled';
$divider: 'divider';
$divider-light: 'divider-light';
$box-shadow: 'box-shadow';
