$themes: (
        light: (
                primary: $primary--light,
                primary-text: $primary--text--light,
                primary-disabled: $primary--disabled--light,
                secondary: $secondary--light,
                secondary-text: $secondary--text--light,
                secondary-disabled: $secondary--disabled--light,
                background: $background--light,
                background-secondary: $background--2--light,
                text: $text--light,
                text-secondary: $text--2--light,
                border: $border--light,
                disabled: $disabled--light,
                divider: $divider--light,
                divider-light: $divider--light--light,
                box-shadow: $box-shadow--light
        ),
        dark: (
                primary: $primary--dark,
                primary-text: $primary--text--dark,
                primary-disabled: $primary--disabled--dark,
                secondary: $secondary--dark,
                secondary-text: $secondary--text--dark,
                secondary-disabled: $secondary--disabled--dark,
                background: $background--dark,
                background-secondary: $background--2--dark,
                text: $text--dark,
                text-secondary: $text--2--dark,
                border: $border--dark,
                disabled: $disabled--dark,
                divider: $divider--dark,
                divider-light: $divider--light--dark,
                box-shadow: $box-shadow--dark
        ),
);

/* ............... */

@mixin themed() {
  @each $theme, $map in $themes {
    .theme--#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

/* ............... */

@function t($key) {
  @return map-get($theme-map, $key);
}
