// https://www.figma.com/file/g9Yc15pGAwAosvXnZKjhej/Material-Theme-Builder-(Community)?node-id=1%3A546

/*
 * LIGHT
 */
$primary--light: #0061A6;
$primary--text--light: #FFFFFF;
$primary--disabled--light: rgba(0, 97, 166, 0.5);

$secondary--light: #525F72;
$secondary--text--light: #FFFFFF;
$secondary--disabled--light: rgba(82, 95, 114, 0.5);

$background--light: #FDFCFF;;
$text--light: #1A1C1E;

$background--2--light: #d7dbe3;
$text--2--light: #43474E;

$border--light: rgba(115, 119, 127, 0.25);

$disabled--light: #F1F0F2;

$divider--light: rgba(122, 122, 122, 0.5);
$divider--light--light: #777676FF;

$box-shadow--light: rgba(183, 183, 183, 0.5);
/*
 * DARK
 */
$primary--dark: #A0C9FF;
$primary--text--dark: #00325A;
$primary--disabled--dark: rgba(160, 201, 255, 0.5);

$secondary--dark: #B9C7DE;
$secondary--text--dark: #243142;
$secondary--disabled--dark: rgba(185, 199, 222, 0.5);

$background--dark: #1A1C1E;
$text--dark: #E3E2E6;

$background--2--dark: #43474E;
$text--2--dark: #C3C6CF;

$border--dark: rgba(141, 145, 153, 0.25);

$disabled--dark: #5D5E60;

$divider--dark: rgba(166, 166, 166, 0.5);
$divider--light--dark: #8f8f8f;

$box-shadow--dark: rgba(68, 68, 68, 0.5);
