$indent_default: 0 0 20px 0;
$indent-block: 0 0 20px 0;

$transition: 0.2s ease-in-out;
$transition-fast: 0.1 ease-out;
$transition-bg: background-color 0.2s ease-in-out;
$transition-transform: transform 0.375s ease-in-out;
$transition-minWidth: min-width 0.3s ease-out;
